openapi: 3.2.0
info:
  title: pinch-api Events API
  version: '2020.1'
servers:
- url: https://api.getpinch.com.au/test
security:
- sec0: []
tags:
- name: Events
paths:
  /events/{id}:
    get:
      summary: Get Event
      description: ''
      operationId: get-event
      parameters:
      - name: id
        in: path
        description: Event Id in evt_XXXXXXXXXXXXXX format
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                realtime-payment:
                  value: "{\n    \"id\": \"evt_XXXXXXXXXXXXXX\",\n    \"type\": \"realtime-payment\",\n    \"eventDate\": \"2021-04-26T07:15:53.0251702\",\n    \"metadata\": {\n        \"status\": \"approved\",\n        \"amount\": 1000\n    },\n    \"data\": {\n        \"payment\": {\n            \"id\": \"pmt_XXXXXXXXXXXXXX\",\n            \"attemptId\": \"att_XXXXXXXX\",\n            \"amount\": 1000,\n            \"currency\": \"AUD\",\n            \"description\": \"test\",\n            \"applicationFee\": 0,\n            \"totalFee\": 55,\n            \"isSurcharged\": false,\n            \"sourceType\": \"credit-card\",\n            \"transactionDate\": \"2021-04-26T07:15:52.8507613Z\",\n            \"status\": \"approved\",\n            \"estimatedTransferDate\": \"2021-04-29\",\n            \"actualTransferDate\": null,\n            \"payer\": {\n                \"id\": \"pyr_XXXXXXXXXXXXXX\",\n                \"firstName\": \"Test\",\n                \"lastName\": \"Person\",\n                \"emailAddress\": \"test.person@mailinator.com\",\n                \"mobileNumber\": \"\",\n                \"streetAddress\": null,\n                \"suburb\": null,\n                \"postcode\": null,\n                \"state\": null,\n                \"country\": null,\n                \"companyName\": null,\n                \"companyRegistrationNumber\": null,\n                \"metadata\": null\n            },\n            \"subscription\": null,\n            \"attempts\": [\n                {\n                    \"id\": \"att_XXXXXXXX\",\n                    \"amount\": 1000,\n                    \"currency\": \"AUD\",\n                    \"convertedAmount\": null,\n                    \"conversionRate\": null,\n                    \"convertedCurrency\": null,\n                    \"estimatedSettlementDate\": \"2021-04-29T00:00:00\",\n                    \"isSurcharged\": false,\n                    \"transactionDate\": \"2021-04-26T07:15:52.8507613Z\",\n                    \"estimatedTransferDate\": \"2021-04-29\",\n                    \"actualTransferDate\": null,\n                    \"source\": {\n                        \"id\": \"src_M489Kvi8INwmRo\",\n                        \"sourceType\": \"credit-card\",\n                        \"bankAccountNumber\": null,\n                        \"bankAccountBsb\": null,\n                        \"bankAccountName\": null,\n                        \"creditCardToken\": \"tkn_XXXXXXXXXXXXXXXXXXXXXXXXXXXX\",\n                        \"cardHolderName\": \"Ben Hotdog\",\n                        \"expiryDate\": \"2022-12-01T00:00:00\",\n                        \"displayCardNumber\": \"4242\",\n                        \"cardScheme\": \"visa\",\n                        \"origin\": \"AU\",\n                        \"funding\": \"credit\"\n                    },\n                    \"dishonour\": null,\n                    \"settlement\": null,\n                    \"fees\": {\n                        \"transactionFee\": 55,\n                        \"applicationFee\": 0,\n                        \"totalFee\": 55,\n                        \"currency\": \"AUD\",\n                        \"taxRate\": 0.1,\n                        \"convertedTransactionFee\": null,\n                        \"convertedApplicationFee\": null,\n                        \"convertedTotalFee\": null,\n                        \"convertedCurrency\": null,\n                        \"conversionRate\": null\n                    },\n                    \"status\": \"approved\"\n                }\n            ],\n            \"metadata\": null\n        }\n    },\n    \"webhooks\": []\n}"
                bank-results:
                  value: "{\n  \"id\": \"evt_XXXXXXXXXXXXXX\",\n  \"type\": \"bank-results\",\n  \"eventDate\": \"2017-05-08T23:30:00.0989722\",\n  \"metadata\": {\n    \"dishonourCount\": 1,\n    \"dishonourAmount\": 1255\n  },\n  \"data\": {\n    \"dishonours\": [\n      {\n        \"typeEnum\": 1,\n        \"type\": \"insufficient-funds\",\n        \"date\": \"2017-05-09T00:00:00\",\n        \"fees\": 500,\n        \"transferId\": null,\n        \"payment\": {\n          \"id\": \"pmt_XXXXXXXXXXXXXX\",\n          \"amount\": 1255,\n          \"transactionDate\": \"2017-05-08T00:00:00\",\n          \"description\": \"A new set of wheels 4\",\n          \"status\": \"dishonoured\",\n          \"payer\": {\n            \"id\": \"pyr_XXXXXXXXXXXXXX\",\n            \"firstName\": \"Ben\",\n            \"lastName\": \"Auto 1\",\n            \"emailAddress\": \"benauto1@mailinator.cOM\",\n            \"mobileNumber\": \"0400000123\"\n          }\n        }\n      }\n    ]\n  }\n}"
                payer-created:
                  value: "{\n    \"id\": \"evt_XXXXXXXXXXXXXX\",\n    \"type\": \"payer-created\",\n    \"eventDate\": \"2024-01-09T22:13:22.8959791\",\n    \"metadata\": {\n        \"payerName\": \"John Smith\"\n    },\n    \"data\": {\n        \"payer\": {\n            \"id\": \"pyr_XXXXXXXXXXXXXX\",\n            \"firstName\": \"John\",\n            \"lastName\": \"Smith\",\n            \"emailAddress\": \"pinch@mailinator.com\",\n            \"mobileNumber\": null,\n            \"streetAddress\": \"\",\n            \"suburb\": \"\",\n            \"postcode\": \"\",\n            \"state\": \"\",\n            \"country\": \"\",\n            \"companyName\": \"\",\n            \"companyRegistrationNumber\": null,\n            \"metadata\": null,\n            \"sources\": [\n                {\n                    \"id\": \"src_XXXXXXXXXXXXXX\",\n                    \"sourceType\": \"bank-account\",\n                    \"bankAccountNumber\": null,\n                    \"bankAccountBsb\": null,\n                    \"bankAccountName\": null,\n                    \"token\": \"tkn_XXXXXXXXXXXXXX\",\n                    \"cardHolderName\": \"J Smith\",\n                    \"expiryDate\": null,\n                    \"displayCardNumber\": \"1234\",\n                    \"cardScheme\": null,\n                    \"origin\": \"AU\",\n                    \"funding\": null,\n                    \"isAuthorised\": false,\n                    \"supportsRealtime\": false\n                }\n            ],\n            \"agreements\": [\n                {\n                    \"id\": \"agr_XXXXXXXXXXXXXX\",\n                    \"anonymousViewToken\": \"XXXXXXXXXXXXXX\",\n                    \"agreementDateUtc\": \"2024-01-09T22:13:22.8601567\",\n                    \"confirmedDateUtc\": \"2024-01-09T22:13:22.8792519\",\n                    \"status\": \"active\",\n                    \"agreementType\": \"legacy-ddr\"\n                }\n            ]\n        }\n    }\n}"
                subscription-created:
                  value: "{\n    \"id\": \"evt_XXXXXXXXXXXXXX\",\n    \"type\": \"subscription-created\",\n    \"eventDate\": \"2023-08-09T06:41:00.0252052\",\n    \"metadata\": {\n        \"planName\": \"Weekly Plan #2\",\n        \"payerName\": \"Test Person\"\n    },\n    \"data\": {\n        \"subscription\": {\n            \"id\": \"sub_b3CagACGPihR0z\",\n            \"payer\": {\n                \"id\": \"pyr_WLpo7r0suazIS9\",\n                \"firstName\": \"Test\",\n                \"lastName\": \"Person\",\n                \"emailAddress\": \"test.person@mailinator.com\",\n                \"mobileNumber\": null,\n                \"streetAddress\": \"\",\n                \"suburb\": null,\n                \"postcode\": null,\n                \"state\": null,\n                \"country\": null,\n                \"countryCode\": null,\n                \"companyName\": null,\n                \"companyRegistrationNumber\": null,\n                \"metadata\": \"\"\n            },\n            \"planId\": \"pln_XXXXXXXXXXXXXX\",\n            \"planName\": \"Weekly Plan #2\",\n            \"status\": \"active\",\n            \"startDate\": \"2024-03-03T13:00:00.0000000Z\",\n            \"freePeriods\": [],\n            \"fixedPayments\": [],\n            \"recurringPayment\": {\n                \"amount\": 100000,\n                \"endAfterNumberOfPayments\": null,\n                \"endAfterTotalAmount\": null,\n                \"frequencyInterval\": \"days\",\n                \"frequencyOffset\": 7,\n                \"description\": \"Weekly Payment\",\n                \"cancelPlanOnFailure\": false,\n                \"metadata\": null,\n                \"endAfterDate\": null,\n                \"startDate\": \"2024-03-03T13:00:00.0000000Z\"\n            },\n            \"totalAmount\": 10000000,\n            \"metadata\": null,\n            \"surcharge\": [\n                \"credit-card\"\n            ]\n        },\n        \"eventId\": \"evt_XXXXXXXXXXXXXX\"\n    },\n    \"merchantId\": \"mch_XXXXXXXXXXXXXX\"\n}"
                scheduled-process:
                  value: "{\n    \"id\": \"evt_XXXXXXXXXXXX\",\n    \"type\": \"scheduled-process\",\n    \"eventDate\": \"2024-06-09T22:55:45.2954757\",\n    \"metadata\": {\n        \"count\": 1,\n        \"amount\": 1000\n    },\n    \"data\": {\n        \"payments\": [\n            {\n                \"id\": \"pmt_XXXXXXXXXXXX\",\n                \"attemptId\": \"att_XXXXXXXXX\",\n                \"amount\": 1000,\n                \"currency\": \"AUD\",\n                \"description\": \"Weekly payments for subscription\",\n                \"applicationFee\": 0,\n                \"totalFee\": 55,\n                \"isSurcharged\": true,\n                \"sourceType\": \"credit-card\",\n                \"transactionDate\": \"2024-06-09T14:00:00.0000000Z\",\n                \"status\": \"settled\",\n                \"estimatedTransferDate\": \"2024-06-12T00:00:00\",\n                \"payer\": {\n                    \"id\": \"pyr_XXXXXXXXXXXX\",\n                    \"firstName\": \"Test\",\n                    \"lastName\": \"Person\",\n                    \"emailAddress\": \"test.person@mailinator.com\",\n                    \"mobileNumber\": null,\n                    \"streetAddress\": \"123 Fake St\",\n                    \"suburb\": \"Brisbane\",\n                    \"postcode\": \"4000\",\n                    \"state\": \"QLD\",\n                    \"country\": null,\n                    \"countryCode\": null,\n                    \"companyName\": \"Test Co\",\n                    \"companyRegistrationNumber\": null,\n                    \"metadata\": null\n                },\n                \"subscription\": {\n                    \"id\": \"sub_XXXXXXXXXXXX\",\n                    \"planId\": \"pln_XXXXXXXXXXXX\",\n                    \"planName\": \"Weekly payments for subscription\"\n                },\n                \"metadata\": \"\",\n                \"dishonourType\": null\n            }\n        ],\n        \"eventId\": \"evt_XXXXXXXXXXXX\"\n    },\n    \"merchantId\": \"mch_XXXXXXXXXXXX\"\n}"
              schema:
                oneOf:
                - title: realtime-payment
                  type: object
                  properties:
                    id:
                      type: string
                      example: evt_XXXXXXXXXXXXXX
                    type:
                      type: string
                      example: realtime-payment
                    eventDate:
                      type: string
                      example: '2021-04-26T07:15:53.0251702'
                    metadata:
                      type: object
                      properties:
                        status:
                          type: string
                          example: approved
                        amount:
                          type: integer
                          example: 1000
                          default: 0
                    data:
                      type: object
                      properties:
                        payment:
                          type: object
                          properties:
                            id:
                              type: string
                              example: pmt_XXXXXXXXXXXXXX
                            attemptId:
                              type: string
                              example: att_XXXXXXXX
                            amount:
                              type: integer
                              example: 1000
                              default: 0
                            currency:
                              type: string
                              example: AUD
                            description:
                              type: string
                              example: test
                            applicationFee:
                              type: integer
                              example: 0
                              default: 0
                            totalFee:
                              type: integer
                              example: 55
                              default: 0
                            isSurcharged:
                              type: boolean
                              example: false
                              default: true
                            sourceType:
                              type: string
                              example: credit-card
                            transactionDate:
                              type: string
                              example: '2021-04-26T07:15:52.8507613Z'
                            status:
                              type: string
                              example: approved
                            estimatedTransferDate:
                              type: string
                              example: '2021-04-29'
                            actualTransferDate: {}
                            payer:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: pyr_XXXXXXXXXXXXXX
                                firstName:
                                  type: string
                                  example: Test
                                lastName:
                                  type: string
                                  example: Person
                                emailAddress:
                                  type: string
                                  example: test.person@mailinator.com
                                mobileNumber:
                                  type: string
                                  example: ''
                                streetAddress: {}
                                suburb: {}
                                postcode: {}
                                state: {}
                                country: {}
                                companyName: {}
                                companyRegistrationNumber: {}
                                metadata: {}
                            subscription: {}
                            attempts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: att_XXXXXXXX
                                  amount:
                                    type: integer
                                    example: 1000
                                    default: 0
                                  currency:
                                    type: string
                                    example: AUD
                                  convertedAmount: {}
                                  conversionRate: {}
                                  convertedCurrency: {}
                                  estimatedSettlementDate:
                                    type: string
                                    example: '2021-04-29T00:00:00'
                                  isSurcharged:
                                    type: boolean
                                    example: false
                                    default: true
                                  transactionDate:
                                    type: string
                                    example: '2021-04-26T07:15:52.8507613Z'
                                  estimatedTransferDate:
                                    type: string
                                    example: '2021-04-29'
                                  actualTransferDate: {}
                                  source:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: src_M489Kvi8INwmRo
                                      sourceType:
                                        type: string
                                        example: credit-card
                                      bankAccountNumber: {}
                                      bankAccountBsb: {}
                                      bankAccountName: {}
                                      creditCardToken:
                                        type: string
                                        example: tkn_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
                                      cardHolderName:
                                        type: string
                                        example: Ben Hotdog
                                      expiryDate:
                                        type: string
                                        example: '2022-12-01T00:00:00'
                                      displayCardNumber:
                                        type: string
                                        example: '4242'
                                      cardScheme:
                                        type: string
                                        example: visa
                                      origin:
                                        type: string
                                        example: AU
                                      funding:
                                        type: string
                                        example: credit
                                  dishonour: {}
                                  settlement: {}
                                  fees:
                                    type: object
                                    properties:
                                      transactionFee:
                                        type: integer
                                        example: 55
                                        default: 0
                                      applicationFee:
                                        type: integer
                                        example: 0
                                        default: 0
                                      totalFee:
                                        type: integer
                                        example: 55
                                        default: 0
                                      currency:
                                        type: string
                                        example: AUD
                                      taxRate:
                                        type: number
                                        example: 0.1
                                        default: 0
                                      convertedTransactionFee: {}
                                      convertedApplicationFee: {}
                                      convertedTotalFee: {}
                                      convertedCurrency: {}
                                      conversionRate: {}
                                  status:
                                    type: string
                                    example: approved
                            metadata: {}
                    webhooks:
                      type: array
                - title: bank-results
                  type: object
                  properties:
                    id:
                      type: string
                      example: evt_XXXXXXXXXXXXXX
                    type:
                      type: string
                      example: bank-results
                    eventDate:
                      type: string
                      example: '2017-05-08T23:30:00.0989722'
                    metadata:
                      type: object
                      properties:
                        dishonourCount:
                          type: integer
                          example: 1
                          default: 0
                        dishonourAmount:
                          type: integer
                          example: 1255
                          default: 0
                    data:
                      type: object
                      properties:
                        dishonours:
                          type: array
                          items:
                            type: object
                            properties:
                              typeEnum:
                                type: integer
                                example: 1
                                default: 0
                              type:
                                type: string
                                example: insufficient-funds
                              date:
                                type: string
                                example: '2017-05-09T00:00:00'
                              fees:
                                type: integer
                                example: 500
                                default: 0
                              transferId: {}
                              payment:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: pmt_XXXXXXXXXXXXXX
                                  amount:
                                    type: integer
                                    example: 1255
                                    default: 0
                                  transactionDate:
                                    type: string
                                    example: '2017-05-08T00:00:00'
                                  description:
                                    type: string
                                    example: A new set of wheels 4
                                  status:
                                    type: string
                                    example: dishonoured
                                  payer:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: pyr_XXXXXXXXXXXXXX
                                      firstName:
                                        type: string
                                        example: Ben
                                      lastName:
                                        type: string
                                        example: Auto 1
                                      emailAddress:
                                        type: string
                                        example: benauto1@mailinator.cOM
                                      mobileNumber:
                                        type: string
                                        example: '0400000123'
                - title: payer-created
                  type: object
                  properties:
                    id:
                      type: string
                      example: evt_XXXXXXXXXXXXXX
                    type:
                      type: string
                      example: payer-created
                    eventDate:
                      type: string
                      example: '2024-01-09T22:13:22.8959791'
                    metadata:
                      type: object
                      properties:
                        payerName:
                          type: string
                          example: John Smith
                    data:
                      type: object
                      properties:
                        payer:
                          type: object
                          properties:
                            id:
                              type: string
                              example: pyr_XXXXXXXXXXXXXX
                            firstName:
                              type: string
                              example: John
                            lastName:
                              type: string
                              example: Smith
                            emailAddress:
                              type: string
                              example: pinch@mailinator.com
                            mobileNumber: {}
                            streetAddress:
                              type: string
                              example: ''
                            suburb:
                              type: string
                              example: ''
                            postcode:
                              type: string
                              example: ''
                            state:
                              type: string
                              example: ''
                            country:
                              type: string
                              example: ''
                            companyName:
                              type: string
                              example: ''
                            companyRegistrationNumber: {}
                            metadata: {}
                            sources:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: src_XXXXXXXXXXXXXX
                                  sourceType:
                                    type: string
                                    example: bank-account
                                  bankAccountNumber: {}
                                  bankAccountBsb: {}
                                  bankAccountName: {}
                                  token:
                                    type: string
                                    example: tkn_XXXXXXXXXXXXXX
                                  cardHolderName:
                                    type: string
                                    example: J Smith
                                  expiryDate: {}
                                  displayCardNumber:
                                    type: string
                                    example: '1234'
                                  cardScheme: {}
                                  origin:
                                    type: string
                                    example: AU
                                  funding: {}
                                  isAuthorised:
                                    type: boolean
                                    example: false
                                    default: true
                                  supportsRealtime:
                                    type: boolean
                                    example: false
                                    default: true
                            agreements:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: agr_XXXXXXXXXXXXXX
                                  anonymousViewToken:
                                    type: string
                                    example: XXXXXXXXXXXXXX
                                  agreementDateUtc:
                                    type: string
                                    example: '2024-01-09T22:13:22.8601567'
                                  confirmedDateUtc:
                                    type: string
                                    example: '2024-01-09T22:13:22.8792519'
                                  status:
                                    type: string
                                    example: active
                                  agreementType:
                                    type: string
                                    example: legacy-ddr
                - title: subscription-created
                  type: object
                  properties:
                    id:
                      type: string
                      example: evt_XXXXXXXXXXXXXX
                    type:
                      type: string
                      example: subscription-created
                    eventDate:
                      type: string
                      example: '2023-08-09T06:41:00.0252052'
                    metadata:
                      type: object
                      properties:
                        planName:
                          type: string
                          example: 'Weekly Plan #2'
                        payerName:
                          type: string
                          example: Test Person
                    data:
                      type: object
                      properties:
                        subscription:
                          type: object
                          properties:
                            id:
                              type: string
                              example: sub_b3CagACGPihR0z
                            payer:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: pyr_WLpo7r0suazIS9
                                firstName:
                                  type: string
                                  example: Test
                                lastName:
                                  type: string
                                  example: Person
                                emailAddress:
                                  type: string
                                  example: test.person@mailinator.com
                                mobileNumber: {}
                                streetAddress:
                                  type: string
                                  example: ''
                                suburb: {}
                                postcode: {}
                                state: {}
                                country: {}
                                countryCode: {}
                                companyName: {}
                                companyRegistrationNumber: {}
                                metadata:
                                  type: string
                                  example: ''
                            planId:
                              type: string
                              example: pln_XXXXXXXXXXXXXX
                            planName:
                              type: string
                              example: 'Weekly Plan #2'
                            status:
                              type: string
                              example: active
                            startDate:
                              type: string
                              example: '2024-03-03T13:00:00.0000000Z'
                            freePeriods:
                              type: array
                            fixedPayments:
                              type: array
                            recurringPayment:
                              type: object
                              properties:
                                amount:
                                  type: integer
                                  example: 100000
                                  default: 0
                                endAfterNumberOfPayments: {}
                                endAfterTotalAmount: {}
                                frequencyInterval:
                                  type: string
                                  example: days
                                frequencyOffset:
                                  type: integer
                                  example: 7
                                  default: 0
                                description:
                                  type: string
                                  example: Weekly Payment
                                cancelPlanOnFailure:
                                  type: boolean
                                  example: false
                                  default: true
                                metadata: {}
                                endAfterDate: {}
                                startDate:
                                  type: string
                                  example: '2024-03-03T13:00:00.0000000Z'
                            totalAmount:
                              type: integer
                              example: 10000000
                              default: 0
                            metadata: {}
                            surcharge:
                              type: array
                              items:
                                type: string
                                example: credit-card
                        eventId:
                          type: string
                          example: evt_XXXXXXXXXXXXXX
                    merchantId:
                      type: string
                      example: mch_XXXXXXXXXXXXXX
                - title: scheduled-process
                  type: object
                  properties:
                    id:
                      type: string
                      example: evt_XXXXXXXXXXXX
                    type:
                      type: string
                      example: scheduled-process
                    eventDate:
                      type: string
                      example: '2024-06-09T22:55:45.2954757'
                    metadata:
                      type: object
                      properties:
                        count:
                          type: integer
                          example: 1
                          default: 0
                        amount:
                          type: integer
                          example: 1000
                          default: 0
                    data:
                      type: object
                      properties:
                        payments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: pmt_XXXXXXXXXXXX
                              attemptId:
                                type: string
                                example: att_XXXXXXXXX
                              amount:
                                type: integer
                                example: 1000
                                default: 0
                              currency:
                                type: string
                                example: AUD
                              description:
                                type: string
                                example: Weekly payments for subscription
                              applicationFee:
                                type: integer
                                example: 0
                                default: 0
                              totalFee:
                                type: integer
                                example: 55
                                default: 0
                              isSurcharged:
                                type: boolean
                                example: true
                                default: true
                              sourceType:
                                type: string
                                example: credit-card
                              transactionDate:
                                type: string
                                example: '2024-06-09T14:00:00.0000000Z'
                              status:
                                type: string
                                example: settled
                              estimatedTransferDate:
                                type: string
                                example: '2024-06-12T00:00:00'
                              payer:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: pyr_XXXXXXXXXXXX
                                  firstName:
                                    type: string
                                    example: Test
                                  lastName:
                                    type: string
                                    example: Person
                                  emailAddress:
                                    type: string
                                    example: test.person@mailinator.com
                                  mobileNumber: {}
                                  streetAddress:
                                    type: string
                                    example: 123 Fake St
                                  suburb:
                                    type: string
                                    example: Brisbane
                                  postcode:
                                    type: string
                                    example: '4000'
                                  state:
                                    type: string
                                    example: QLD
                                  country: {}
                                  countryCode: {}
                                  companyName:
                                    type: string
                                    example: Test Co
                                  companyRegistrationNumber: {}
                                  metadata: {}
                              subscription:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: sub_XXXXXXXXXXXX
                                  planId:
                                    type: string
                                    example: pln_XXXXXXXXXXXX
                                  planName:
                                    type: string
                                    example: Weekly payments for subscription
                              metadata:
                                type: string
                                example: ''
                              dishonourType: {}
                        eventId:
                          type: string
                          example: evt_XXXXXXXXXXXX
                    merchantId:
                      type: string
                      example: mch_XXXXXXXXXXXX
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: csharp
          code: var event = await api.Event.Get(id);
        samples-languages:
        - csharp
      tags:
      - Events
  /events:
    get:
      summary: List all events
      description: ''
      operationId: list-all-events
      parameters:
      - name: page
        in: query
        description: The current page.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: How many items to return for each page. Maximum 500.
        schema:
          type: integer
          format: int32
          default: 50
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: eventType
        in: query
        description: If you wish to filter by a single event type, eg payment-created
        schema:
          type: string
          enum:
          - bank-results
          - scheduled-process
          - transfer
          - realtime-payment
          - payment-created
          - subscription-complete
          - payer-created
          - payer-updated
          - refund-created
          - refund-updated
          - compliance-updated
          - dispute-created
          - dispute-updated
          - merchant-created
          - merchant-updated
          - merchant-compliance-updated
          - subscription-created
          - subscription-cancelled
          - reportonly-payment
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"pageSize\": 50,\n    \"totalPages\": 1,\n    \"totalItems\": 27,\n    \"data\": [\n        {\n            \"id\": \"evt_XXXX78\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:52.2322638\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 5158\n            }\n        },\n        {\n            \"id\": \"evt_XXXXZyCnCMGf\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:52.1636637\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_9kDXXXXBKFVq7\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:52.1097666\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_E7XXXXppYM\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:52.0472423\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_XXXXTgtYr\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:51.9966838\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_zN0XXXXrrcQ\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:51.9504904\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_YbvBXXXXWHxa\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:51.8988614\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_ZXXXXUzB\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:51.8491774\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 10287\n            }\n        },\n        {\n            \"id\": \"evt_DsXXXXJ3Q\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-21T00:05:51.7326694\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 25671\n            }\n        },\n        {\n            \"id\": \"evt_f2UXXXXvT8v\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:54:26.3388387\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_wYXtXXXXKE\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:54:26.2838371\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_8X4tXXXX4k\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:54:26.2278341\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_pLqXXXX3be\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:54:26.0846335\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_WmMWlXXXXCW\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:54:26.0220359\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_VLe5XXXXzQu\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:49:51.5979763\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_inMXXXX7RW\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:49:51.5438939\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_mXXXXdT\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:49:51.4902632\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_Xc5XXXX00vA\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:49:51.4326831\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_RXXXXtlG\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-20T23:49:51.31054\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 20543\n            }\n        },\n        {\n            \"id\": \"evt_YyRI7XXXXFA\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-19T07:14:14.7784695\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 1245\n            }\n        },\n        {\n            \"id\": \"evt_6XXXXXXXN6E\",\n            \"type\": \"payer-updated\",\n            \"eventDate\": \"2021-04-19T06:10:18.0038503\",\n            \"metadata\": {\n                \"payerName\": \"Test Payer\"\n            }\n        },\n        {\n            \"id\": \"evt_iFXXXXIS60\",\n            \"type\": \"realtime-payment\",\n            \"eventDate\": \"2021-04-19T05:43:01.3059479\",\n            \"metadata\": {\n                \"status\": \"approved\",\n                \"amount\": 1245\n            }\n        },\n        {\n            \"id\": \"evt_kWXXXXMRy\",\n            \"type\": \"realtime-payment\",\n            \"eventDate\": \"2021-04-19T05:20:54.5339604\",\n            \"metadata\": {\n                \"status\": \"approved\",\n                \"amount\": 1245\n            }\n        },\n        {\n            \"id\": \"evt_c2XXXXdB\",\n            \"type\": \"payment-created\",\n            \"eventDate\": \"2021-04-19T04:19:00.1411315\",\n            \"metadata\": {\n                \"status\": \"scheduled\",\n                \"amount\": 1245\n            }\n        },\n        {\n            \"id\": \"evt_OXXXXoF7i\",\n            \"type\": \"payer-created\",\n            \"eventDate\": \"2021-04-16T04:28:04.3426884\",\n            \"metadata\": {\n                \"payerName\": \"Test WebSample3\"\n            }\n        },\n        {\n            \"id\": \"evt_7XXXXPD5R\",\n            \"type\": \"payer-created\",\n            \"eventDate\": \"2021-04-16T02:56:38.7232261\",\n            \"metadata\": {\n                \"payerName\": \"Test WebSample3\"\n            }\n        },\n        {\n            \"id\": \"evt_fg5XXXXY77\",\n            \"type\": \"payer-created\",\n            \"eventDate\": \"2021-04-16T02:25:54.2549967\",\n            \"metadata\": {\n                \"payerName\": \"Another Payer\"\n            }\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  pageSize:
                    type: integer
                    example: 50
                    default: 0
                  totalPages:
                    type: integer
                    example: 1
                    default: 0
                  totalItems:
                    type: integer
                    example: 27
                    default: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: evt_XXXX78
                        type:
                          type: string
                          example: payment-created
                        eventDate:
                          type: string
                          example: '2021-04-21T00:05:52.2322638'
                        metadata:
                          type: object
                          properties:
                            status:
                              type: string
                              example: scheduled
                            amount:
                              type: integer
                              example: 5158
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: csharp
          code: var model = await api.Event.GetEventsAll();
        samples-languages:
        - csharp
      tags:
      - Events
components:
  securitySchemes:
    sec0:
      type: oauth2
      flows: {}
x-readme:
  headers:
  - key: pinch-version
    value: '2020.1'
  explorer-enabled: true
  proxy-enabled: true
